{% extends "base.html" %}

{% block body %}

<div class="accordion accordion-flush" id="accordionFlushExample" style="width:100%">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Admins
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">username</th>
                  </tr>
                </thead>
                <tbody>
                    {% for a in admins %}
                    <tr>
                        <td>{{a.id}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Staff
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">            
            <table class="table">
            <thead>
              <tr>
                <th scope="col">username</th>
                <th> promote to admin</th>
                <th> demote to user</th>
                <th> delete account</th>
              </tr>
            </thead>
            <tbody>
                {% for a in staff %}
                <tr>
                    <td>{{a.id}}</td>
                    <td><a href="/admin/promote/admin/{{a.id}}"><button class="btn btn-success">Promote</button></a></td>
                    <td><a href="/admin/demote/user/{{a.id}}"><button class="btn btn-warning">Demote</button></a></td>
                    <td><a href="/admin/delete/user/{{a.id}}"><button class="btn btn-danger">Delete</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Users
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">username</th>
                    <th> promote to staff</th>
                    <th> delete account</th>
                  </tr>
                </thead>
                <tbody>
                    {% for a in users %}
                    <tr>
                        <td>{{a.id}}</td>
                        <td><a href="/admin/promote/staff/{{a.id}}"><button class="btn btn-success">Promote</button></a></td>
                        <td><a href="/admin/delete/user/{{a.id}}"><button class="btn btn-danger">Delete</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Files
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <table class="table">
            <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th> creator</th>
                  <th> delete</th>
                </tr>
              </thead>
              <tbody>
                  {% for a in files %}
                  <tr>
                      <td>{{a.name}}</td>
                      <td>{{a.creator_id}}</td>
                      <td><a href="/delete/{{a.id}}"><button class="btn btn-danger">Delete</button></a></td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>


{% endblock %}