{% extends "base.html" %}

{% block body %}

{% if error != "" %}
<div class="alert alert-warning" role="alert" style="width:90%">
    {{ error|safe }}
</div>
{% endif %}

<form action="/register" method="post" style="width:90%">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:70%">
      <input class="mdl-textfield__input" type="text" name="username" id="username">
      <label class="mdl-textfield__label" for="username">Username</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:70%">
      <input class="mdl-textfield__input" type="email" name="email" id="email">
      <label class="mdl-textfield__label" for="email">E-Mail</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"  style="width:70%">
        <input class="mdl-textfield__input" type="password" name="password" id="password">
        <label class="mdl-textfield__label" for="password">Password...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"  style="width:70%">
        <input class="mdl-textfield__input" type="password" name="confirmpassword" id="confirmpassword">
        <label class="mdl-textfield__label" for="confirmpassword">Confirm Password</label>
    </div>
    <!-- Accent-colored raised button -->
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"  style="width:70%">
    Register
   </button>
</form>

{% endblock %}